<%= form_for @article do |f| %>

	<% if @article.errors.any? %>

	<h1>New article</h1>
	
	<%= render 'form' %>
	<%= link_to 'Back', articles_path %>

	<h1>EDit article</h1>

	<%= render 'form' %>
	<%= link_to 'Back', articles_path %>
	

	<p>
		<%= f.submit %>
	</p>

<% end %>
